$shortscore-color: #108D4F;
$duration: .5s;

.type-game {
  .shortscore-hreview {
    overflow: hidden;
    padding: 0;
    margin-bottom: 1em;

    .rating {
      float: right;
      font-size: 300%;
      color: #EEE;
      line-height: 1.2;
      padding: 0;

      a {
        display: block !important;
        border-bottom: none !important;
        color: #fff !important;
        text-decoration: none !important;

        &:hover {
          color: #fff;
        }
      }
    }

    .link {
      float: left;
      padding: 1em;
      padding-top: 0;

      a {
        text-decoration: none;
      }
    }

    .text {
      float: left;
      padding: 1em;
      margin-bottom: 1em;
      color: #fff;
      background-color: $shortscore-color;

      a {
        color: #fff;
        border-bottom: none;
        text-decoration: none;
      }

      .item .fn {
        font-weight: 700;
      }
    }

    .summary {
      font-size: 110%;
    }

    .outof,
    .dtreviewed,
    .best {
      display: none;
    }
  }

  .shortscore-title {
    color: $shortscore-color;
    text-align: center;
    margin-bottom: 1em;

    a {
      color: $shortscore-color;
      text-decoration: none;
      border: none;
      text-decoration: none;
    }

    @media screen and (min-width: 75em) {
      text-align: left;
    }
  }
}